<!-- for success message -->
@if(session('success_statue'))
<div class="alert alert-danger">
    {{ session('success_statue') }}
</div>
@endif
<!-- validate error -->
@error('catagery_name')
<span class="text-danger">{{ $message }}</span>
@enderror

<!-- show all errors -->
@if($errors->any())
    {{ implode('', $errors->all('<div>:message</div>')) }}
@endif



<!-- fot route system -->
Route::group(['prefix'=>'tag','namespace'=>'Backend\News','middleware'=>['auth','admin']],function()
{
Route::get('index','TagController@index')->name('tag.index');
Route::get('create','TagController@create')->name('tag.create');
Route::post('store','TagController@store')->name('tag.store');
Route::get('show/{id}','TagController@show')->name('tag.show');
Route::get('edit/{id}','TagController@edit')->name('tag.edit');
Route::post('update/{id}','TagController@update')->name('tag.update');
Route::get('destroy/{id}','TagController@destroy')->name('tag.destroy');

});


<!-- crud -->
public function index()
{
$blogs = Blog::latest()->get();
return view('backend.website.blogs.index',compact('blogs'));
}


public function store(Request $request)
{
$request->validate([
'title' => 'required',
'description' => 'required',
'status' => 'required',
]);


<!-- update -->
$blogs = Blog::find($id);
<!-- update -->
$blogs = new Blog();
$blogs->title = $request->title;
$blogs->slug = Str::slug($request->title,'-');


$image = $request->image;
if($image){
// @unlink($blogs->image);
$uniqname = uniqid();
$ext = strtolower($image->getClientOriginalExtension());
$filepath = 'public/images/blogs/';
$imagename = $filepath.$uniqname.'.'.$ext;
$image->move($filepath,$imagename);
$blogs->image = $imagename;
}

$blogs->description = $request->description;
$blogs->status = $request->status;

<--uniq id--!>
$lastusercount = Withdraw::count();
if($lastusercount>0){
    $data->uid   = $lastuserid->uid+1;
            }
            else{
                $data->uid   = '1001';
            }
            
            
            
             if($agencyjobcount > 0){
            $input['uid']   = $lastuserid->uid+1;
        }
        else{
            $input['uid']   = '1001';
        }
       



$blogs->save();

$notification = array(
'messag
e' => 'Blog Create Successfully!',
'alert-type' => 'success'
);

return redirect()->route('blog.index')->with($notification);
}


public function edit($id)
{
$data['blog'] = Blog::find($id);
return view('backend.website.blogs.edit',$data);
}


<!-- delate -->
public function destroy($id)
{

$blogs = Blog::find($id)->delete();

$notification = array(
'message' => 'Blog Delete Successfully!',
'alert-type' => 'success'
);

return redirect()->route('blog.index')->with($notification);
}


<!-- status rouls -->
<td>
    @if($blog->status==1)
    <p class="btn btn-primary">Active</p>
    @elseif($blog->status==2)
    <p class="btn btn-danger">inactive</p>
    @endif
</td>


<div class="form-group">
    <label for="description">status</label>
    <select name="status" id="" class="form-control">
        <option {{ $blog->status==1 ? 'selected' : ''}} value="1">active</option>
        <option {{ $blog->status==2 ? 'selected' : '' }} value="2">inactive</option>
    </select>
</div>



<!-- joining show -->

<!-- model -->
public function user()
{
return $this->belongsTo(User::class,'user_id');
}
<td>{{ $notice->user ? $notice->user->name:'no user'  }}</td>



<!-- select loop -->
<select name="category_id" id="" class="form-control">
    <option value="">select catagory</option>
    @foreach($categories as $catagory)
    <option value="{{ $catagory->id }}"> {{ $catagory->name }}</option>
    @endforeach
</select>

<!--join table show -->
@foreach($board_questions as $board_question)
<option {{$old_qus->board_question_type_id == $board_question->id ? 'selected' : '' }} value="{{$board_question->id}}">{{$board_question->name}}</option>
@endforeach

<!-- protected table-->
protected $table = "medical_tourism_categories";



<!--for ssl certificates laravel htaccess-->

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://main.hrlogisticsbd.com/$1 [R,L]




<!--create artisan route-->
Route::get('/clear', function() {
$exitCode = Artisan::call('config:clear');
$exitCode = Artisan::call('cache:clear');
$exitCode = Artisan::call('config:cache');
return 'DONE'; //Return anything
});


$data['blogs'] = Blog::latest()->limit(4)->get();

$data->authar_id = Auth::user()->id;

summernote



<!--middleware-->
if(Auth::check())
{
if(Auth::user()->role_id == 4){
return $next($request);
}else{
return redirect()->route('login');
}
}else{
return redirect()->route('login');
}

<!--login -->
public function redirectTo(){

$user = Auth::user();

if($user->role_id == 1 || $user->role_id == 2 || $user->role_id == 3){
return "/home";
}else if($user->role_id == 4){
return "/doctor-dashboard";
}
else if($user->role_id == 5){
return "/medicalcenter-dashboard";
}
else if($user->role_id == 6){
return "/hospital-dashboard";
}
else if($user->role_id == 7){
return "/pharmacy-dashboard";
}else{
return "/error";
}

}




<!--modal status change-->
<!-- Modal -->

<a href="#" class="btn btn-xs btn-aqua" data-toggle="modal" data-target="#exampleModal_{{$data->id}}">
    <i class="fa fa-eye"></i> change status
</a>

<div class="modal fade" id="exampleModal_{{$data->id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{route('change.update',$data->id)}}" method="post">
                    @csrf
                    <div>
                        <label for="verify"><b>verify</b></label>
                        <select name="is_verified" id="" class="form-control">
                            <option value="1" selected>Panding</option>
                            <option value="2" selected>Approved</option>
                        </select>
                    </div>
                    <div class="pt-2 text-right">
                        <button type="submit" class="btn btn-aqua">save change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


$loop->iteration

<option {{ old('instrument_brand_id') == $item->id ? 'seleted': '' }} value="{{ $item->id }}">{{ $item->name }}</option>





<td>{{ $data->user?$data->user->code:'' }}</td>


<span>{{ $errors->first('last_name') }}</span>


<!---CRUD SHORTCUT-->

protected  $guarded = [];

public function store(Request $request)
    {
        $validator = Validator::make($request->all(), [
            'sheet_no'    => 'required',
            'class_id'    => 'required',
            'session_id'  => 'required',
            'sheet_type_id'  => 'required',
            'sheet_file'  => 'required',
            'description'  => 'required',
            'subject_id'  => 'required',
            'status'      => 'required',
        ]);

        if ($validator->fails()){
            return redirect()->back()
                        ->withErrors($validator)
                        ->withInput();
        }
        $sheet = New Sheet();
        $input               = $request->except('_token');
        
        $sheet_file          = $request->sheet_file;
        if($sheet_file){
            $uniqname   = uniqid();
            $filenameoriginal = $sheet_file->getClientOriginalName();
            $ext        = strtolower($sheet_file->getClientOriginalExtension());
            $filepath   = 'public/uploads/sheets/';
            $namedata   =  pathinfo($filenameoriginal, PATHINFO_FILENAME);

            $imagename  = $filepath.$namedata."_".$uniqname.'.'.$ext;
            $sheet_file->move($filepath,$imagename);
            $input['sheet_file'] = $imagename;
            
            $input['thumbnail'] = 'public/uploads/sheets/no_image_sheet.png';
        }

        $input['created_by'] = Auth::user()->id;
        $sheet->fill($input)->save();

        

        $notification = array(
            'message' => 'Sheet Successfully Added!',
            'alert-type' => 'success'
        );
        return redirect()->route('sheet.index')->with($notification);
    }
	
<!-- 	crud sofiul -->
	    public function update(Request $request, $local, Property $property)
    {

        // $property = Property::find($id);
        // $por = new Property;

        $request->validate([
            'name' => 'required',
            'slug' => 'required',
            'property_type' => 'required',
            'address_line_1' => 'required',
            'address_line_2' => 'required',
            'country_id' => 'required',
            'state_id' => 'required',
            'zip_code' => 'required',
            'contact_name' => 'required',
            'email' => 'required',
            'phone' => 'required',
            'status' => 'required',
            'is_children_allowed' => 'required',
            'is_pets_allowed' => 'required',
            'is_smoking_allowed' => 'required',
            'is_credit_card_required' => 'required',
            'is_pre_payment_required' => 'required',
            'short_description' => 'required',
            'description' => 'required',
        ]);

        $property->update($request->except('default_photo', '_token'));

        if ($request->hasFile('default_photo')) {
            if($property->default_photo) {
                unlink(public_path('uploads/properties/' . $property->default_photo));
            }
            // file save
            $photo_name = time().'.'.$request->default_photo->extension();
            $request->default_photo->move(public_path('uploads/properties/'), $photo_name);
            // database save
            $property->default_photo = $photo_name;
            $property->save();
        }
        
        $notification = array(
            'message' => 'Property Created Successfully!',
            'alert-type' => 'success'
        );
        return redirect()->route('admin.property.index')->with($notification);
    }
<!-- 	crud end sofiul -->
	
	
  {!!  $blog->description  !!}
  
  
  <!--manu active-->
 class="{{ '/' == request()->path()? 'active': '' }}"
 
 
 <!--bd Transaction-->
 DB::beginTransaction();

 try{
 
 
 DB::commit();
    $notification = array(
        'message' => 'Artist Registation Successfully !',
        'alert-type' => 'success'
        );
        return redirect()->route('artist.registration')->with($notification);  
        } catch (\Exception $e) {
            DB::rollback();
            throw $e;
        }
		
		
		
		
		
		
@if (app()->getLocale() == 'en')
    <html lang="en" dir="auto">
@elseif(app()->getLocale() == "ar")
    <html lang="ar" dir="rtl">
@endif

step = '0.01'

 <!--bd validation-->
 'file'=> 'required|mimes:xlsx, csv, xls',
 'email' => 'required|string|email|max:255|unique:users',
 'password' => 'min:6|required_with:password_confirmation|same:password_confirmation',
 'mobile'=>'required|numeric|unique:users',
 'talent' => 'required|array|max:2',
'image'  =>  'required|image|mimes:jpeg,png,jpg,gif|max:2048'
 
 
<!--  controller method -->
  @method('PUT')
 @method('DELETE')
	
<!--  session -->
 session()->flash('message','Data submit successfully');
 
 <!--design-->
 .row{
    display: flex;
    flex-wrap: wrap;

}
.row::after{
    content: '';
    clear: both;
    display: table;
}
 
	    
{{$item->updated_at->diffForhumans()}}

//SUBSTR
$blog_title = substr($item->title, 0, 28) . '...';
	    
//PAGE RELOAD AND COUNT  
Blog::where('slug',$slug)->increment('views');
	    
	    
//RECOMMENDATED BLOG    
$blog_single = Blog::where('slug',$slug)->first();
$data['recommendate_blog'] = Blog::where('category_id', $blog_single->category_id)->where('id', '!=', $blog_single->id)->limit(2)->get();
	    
//IMAGE UPLOAD    
$input = $request->except('_token', 'image');
if ($request->hasFile('image')) {
    if($data->image) {
	unlink(public_path($data->image));
    }
    $photo_name = time().rand().'.'.$request->image->extension();
    $request->image->move(public_path('uploads/product_categories/'), $photo_name);
    $input['image'] = 'uploads/product_categories/'. $photo_name;
}

$data->fill($input)->save();
	    
	    
	    
if ($request->hasFile('photo')) {
    if($data->photo) {
    unlink(public_path($data->photo));
    }
    $photo_name = time().rand().'.'.$request->photo->extension();
    $path ='uploads/courses/'.$photo_name;
    Image::make($request->file('photo'))->resize(330,200)->save(public_path($path), 50);
    $input['photo'] = $path;
}

<!-- IMAGE UPLOAD	     -->
$data = new Slider();
$input = $request->except('_token','image');
if ($request->hasFile('image')) {
    if($data->image) {
    unlink(public_path($data->image));
    }
    $photo_name = time().rand().'.'.$request->image->extension();
    $path = 'images/sliders/'.$photo_name;
    Image::make($request->file('image'))->resize(1140,870)->save(public_path($path), 100);
    $input['image'] = $path;
}
$data->fill($input)->save(); 
	    
	    
	    
<!-- MULTIPLE IMAGE UPLOAD -->
	    
if ($request->hasFile('multi_image')) {
$multiple_images = ProductMultiImage::where('product_id', $data->id)->get();
// for delete
foreach ($multiple_images as $multiple_image) {
if ($multiple_image) {
    $multiple_image->delete();
}
if ($multiple_image->multi_image) {
    unlink($multiple_image->multi_image);
}
}
// for create
foreach ($request->multi_image as $image) {
$photo_name = time().rand(1, 100).'.'.$image->extension();
$path = 'uploads/products/'.$photo_name;
Image::make($image)->resize(600,400)->save(public_path($path), 100);
ProductMultiImage::create([
    'product_id' => $data->id,
    'multi_image' => $path,
]);
}
}	    
	    
	    
	    
	    

<!-- IMAGE AND ROW DELETE -->
$image_name = Slider::find($id);
if($image_name->image) {
unlink(public_path($image_name->image));
}
Slider::find($id)->delete();
	    
	    
protected $fillable = ['first_name', 'last_name', 'email']; 
	    
	    
	    
	    
	    
	    
.htaccess	    
<IfModule mime_module>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
	   
	    
	    
	    
<!-- for ajex -->
data-id="{{ $item->id }}" class="product_id"
	    
	    
	    
{{route('admin.product.create',['product'=>'feed'])}}"
value="{{request('product')}}"
	    
	    
	    
onclick="return confirm('Are you sure, Want to Delete this Item!')"
	    
	    
	    
{{ Carbon\Carbon::parse(date)->format('d-M-Y') }} => For blade.
Saiful Islam
Carbon::parse(date)->format('d-M-Y') => For controller.
 {{ \Carbon\Carbon::parse($non_profit_org->program_date)->diff(\Carbon\Carbon::now())->format('%m months %d days') }}
{{ \Carbon\Carbon::parse($non_profit_org->program_date)->diff(\Carbon\Carbon::now())->format('%h : %i : %s') }}
<!-- arabic	     -->
 <span>{{ Carbon\Carbon::parse($event->date)->translatedFormat('l') }}, {{ Carbon\Carbon::parse($event->date)->translatedFormat('d M Y') }}</span>
	    
	    
	    
<!-- search -->
  $query = Event::query();
        $data['event_type'] = EventType::where('status',1)->get();

        // return $request->all();
        if ($request->type) {
            
            
            // $data['event_type'] = $request->type;
            $query = $query->where('event_type_id', $request->type);
        }
        if ($request->location) {

            $query = $query->where('address', 'LIKE', "%$request->location%");
        }
        if ($request->event) {

            $query = $query->where('name', 'LIKE', "%$request->event%");
        }
        if ($request->topic) {
            // $data['event_topic'] = $request->topic;
            $query = $query->where('event_topic_id', $request->topic);
        }
        if ($request->date) {
            // $data['date'] = $request->date;
            $query =  $query->where('date', $request->date);
        }
        
        $data['events'] = $query->latest()->where('is_published',1)->where('status','!=',0)->limit(24)->get();
	    
	    
	    
	    
//database joining controller	    
$data['boothbooks'] = auth()->user()->booth->pluck('bookBooth')->flatten();
	    whereIn,whereNotIn
	    
	    
//ajax category subcategory
	    <select id="event_type_id" onchange="getEventToptic()"></select>
	        Route::get('/get/country', 'FrontendController@countryGet')->name('get.country');
	    
	    
	 public function countryGet(Request $request){
		if ($request->ajax()) {
		    $counties = District::where('country_id',$request->id)->get();
		    return $counties;
		}
    	}
	    
	    
	    <script>
    function getCountry() {

        var country_id = $("#country_id").val()

        
        console.log(country_id)

        if (country_id) {
            $.ajax({
                url: `{{ route('get.country') }}`,
                data: {
                    id: country_id
                },
                success: function(res) {
                    // console.log(res)
                    $("#district_push").empty()
                    var options = '';
                    $.each(res, function(index, row) {
                        options += "<option value='" + row.id + "'>" + row.name + "</option>";
                    })
                    // console.log(options)
                    $("#district_push").append(options);
                },
                error: function(e) {
                    console.log(e);
                    toastr.error('Something went wrong')
                }
            });

            return;
        }
    }

</script>   
	//or    
    <script>

        $(document).on('change', '#country_id', function(e)
        {
            getDistricts(this.value)
        });

        function getDistricts(country_id) {
            $.ajax({
                type: 'get',
                url: `{{ route('get.country') }}`,
                data: {
                    country_id
                },
                success: function(data){
                    var options = '';
                    $.each(data, function(index, row) {
                        options += "<option value='" + row.id + "'>" + row.name + "</option>";
                    })
                    $("#district_push").html(options);
                },
                error: function(data){
                    console.log(data);
                }
            })
        }
    </script>
	   
//alter ajex
	<a href="javascript:void(0)" class="product_id" data-id="{{$product->id}}">click</a>
	    
	$(document).on('click', '.product_id', function(e) {
    	e.preventDefault();
    	var product_id = $(this).data('id');
	  
	});
	    
	    
	    
//sweet alert for delete
<a class="dropdown-item" href="#" onclick="deleteItem({{ $item->id }})">
<i data-feather="trash" class="me-50"></i>
<span>Delete</span>
</a>
	    
	    
<form method="POST" id="deleteForm">
    @csrf
    @method('delete')
</form>
	    
<script>
    function deleteItem(id) {
        let deleteRoute = `{!! request()->url()!!}/${id}`;
        Swal.fire({
            title: 'Are you sure?'
            , text: "You won't be able to revert this!"
            , icon: 'warning'
            , showCancelButton: true
            , confirmButtonText: 'Yes, delete it!'
            , customClass: {
                confirmButton: 'btn btn-primary'
                , cancelButton: 'btn btn-outline-danger ms-1'
            }
            , buttonsStyling: false
        }).then(function(result) {
            console.log(result);
            if (result.value) {
                $('#deleteForm').attr('action', deleteRoute).submit();
            }
        });
    }
</script>
	    
//cascade delete
Schema::create('thanas', function (Blueprint $table) {
    $table->id();
    $table->string('name');
    $table->string('bn_name');
    $table->unsignedBigInteger('district_id')->index();
    $table->integer('status')->default(1);
    $table->timestamps();
    $table->foreign('district_id')->references('id')->on('districts')->onDelete('cascade');
	$table->foreignId('user_id')->constrained()->cascadeOnDelete();
});

	    
	    
	    
	    
//language
//SetLocale
public function handle(Request $request, Closure $next)
    {
        if ($request->has('lang')) {
            session(['lang' => $request->lang]);
        }
        $lang =  session('lang') ?? 'ar';
        app()->setLocale($lang);
        return $next($request);
    }
// karnel.php ->web
\App\Http\Middleware\SetLocale::class
	    
//app.blade.php
@php
$locale = app()->getLocale();
@endphp
//lang button
@if ($locale == 'en')
<a  class="arabic-button" href="{{ request()->fullUrlWithQuery(['lang' => 'ar']) }}">Arabic</a>
@elseif($locale == 'ar')
<a  class="arabic-button" href="{{ request()->fullUrlWithQuery(['lang' => 'en']) }}">English</a>
@endif
	    
	    
#change password    
    public function adminChangePasswordPost(Request $request){
        $request->validate([
            'carrent_password' => 'required',
            'new_password' => 'min:6|required_with:password_confirmation|same:password_confirmation',
            'password_confirmation' => 'required',
        ]);

        if(!Hash::check($request->carrent_password, auth()->user()->password)){
            $notification = array(
                'message' => 'Carrent Password Doesn\'t match!',
                'alert-type' => 'error'
                );
            return back()->with($notification);
        }

        $data = User::findOrFail(Auth::user()->id);
        $data->password = bcrypt($request->new_password);
        $data->save();
        $notification = array(
        'message' => 'Password Change Successfully !',
        'alert-type' => 'success'
        );
        return redirect()->route('admin.profile.show')->with($notification);
    }
	    
	    
//email validation
     'phone' => ['required','numeric'],
    'email' => ['required', 'string', 'email', 'max:255', 'unique:users', 'regex:/^([a-z0-9\+_\-]+)(\.[a-z0-9\+_\-]+)*@([a-z0-9\-]+\.)+[a-z]{2,6}$/ix'],
	    
	    
 $request->validate([
            'name' => ['required', 'max:255', 'string'],
            'service_type_id' => 'required',
            'email' => 'required|email:dns',
            'phone' => 'required|numeric|max_digits:15',
            'established' => 'required|numeric|max_digits:4',
            'owner' => ['required', 'string', 'max:255'],
            'address' => ['required'],
            'number_of_employes' => 'required|numeric',
            'licence' => 'required|file|mimes:jpeg,png,jpg,doc,docx,pdf',
            'attachment' => 'nullable|file|mimes:jpeg,png,jpg,doc,docx,pdf',
            'avatar' => 'required|file|mimes:jpeg,png,jpg',
        ]);
	    
	    
	    
	    
	<script>
        function showPassword() {
            var x = document.getElementById("input_text");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
